.document-container {
  max-width: 700px;

  margin-top: 10px;   
  margin-bottom: 100px; 
  margin-left:1px;
 }
 
 
 
 
 
 .document-Tree-Node{
  
  margin-bottom: 50px;
  font-size: 200%;
  
 }
 .document-Tree-Node-Node{
  
  margin-bottom: 500px;
  font-size: 150%;

  
 }
 .document-title{
  margin-bottom: 10px;
  margin-left: 1px;
 }
 .leaf{
  margin-bottom: 10px;
  font-size: 150%;
 }

 .margin{
  padding: 50px;
 }