.ant-carousel  {
 height: 300px;
margin-top: 10px;
 width: 900px;
 background: #0000f700;
 margin:auto;

}


.ant-carousel .slick-slide div{
 background: #81818b00;
}

.centeredRight {
 display: inline-block;
 margin-top:210px; 
 margin-left: 10px;
 margin-right: 10%;

}
.centeredLeft {
 display: inline-block;
 margin:auto;
 margin-top:210px; 
 margin-left: 518px;
 margin-right: 10px;
 
}
.pow{
 margin-top: 20px;
}
